@font-face {
  font-family: "norse bold";
  src: 
    url("./fonts/norse-bold-webfont.woff") format("woff"),
    url("./fonts/norse-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: rgb(240, 240, 240);
}

div#banner, div#form-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div#banner {
  background-image: url("./assets/green_leaves.jpeg");
  justify-content: space-between;
  color: white;
}

div#logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 20vh;
  width: 28vw;
}

div#logo h1 {
  font-family: "norse bold";
  font-size: 7em;
}

div#footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

div#footer a:link, div#footer a:visited {
  color: white;
}

div#logo img {
  height: 80%;
}

div#form-section header {
  margin-left: 3%;
}

header h2:nth-child(1) {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

div#form-box {
  background-color: white;
  width: 100%;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5vh;
  margin-bottom: 3vh;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1),
              0 5px 10px rgba(0, 0, 0, 0.1);
}

form button, div#form-section p {
  margin-left: 3%;
}